@mixin boxed($color, $display) {
    background: $color;
    margin: 50px auto auto auto;
    max-width: 50vw;
    text-align: center;
    display: $display;
}

.m-auto {
    margin: auto;
}

.w-62 {
    width: 62%;
}


body {
    background: url(/dist/assets/img/Falls.jpg);
    background-size: 100vw;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
}

main {
    margin-top: 5rem;
}