@mixin boxed($color, $display) {
    background: $color;
    margin: 50px auto auto auto;
    max-width: 50vw;
    text-align: center;
    display: $display;
    border-radius: 10px;
}

@mixin transition-ease {
    transition: all ease-in-out;
}

.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}


body {
    background: url(/dist/assets/img/Falls.jpg);
    background-size: 100vw;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
}

main {
    margin-top: 5rem;
    margin-bottom: 40px;
}

@mixin media-md {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width: 1600px) {
        @content;
    }
}