@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

header {
    position: sticky;
    width: 100vw;
}

nav {

    @include transition-ease;
    position: fixed;
    top: 0;
    width: inherit;

    .menu-nav {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;

        &-item {
            background-color: #498640;
            list-style: none;
            padding: 0.5rem;
            border: 1px solid black;
        }

        &-link {
            text-decoration: none;
            color: #0e1d0c;

            &:hover {
                @include transition-ease;
                color: #8bc285;
            }
        }
    }
}

footer {
    text-align: center;
}