@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

header {
    position: sticky;
    width: 100vw;
    z-index: 2;
}

.menu-btn {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;

    &-burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: white;
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: white;
            @include transition-ease;
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background: white;
            @include transition-ease;
        }

        &.open {
            visibility: visible;
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}

nav {

    @include transition-ease;
    position: fixed;
    top: 0;
    width: inherit;
    text-shadow: 0px 2px 4px black;

    .menu-nav {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;

        &-item {
            background-color: #498640;
            list-style: none;
            padding: 0.5rem;
            border: 1px solid black;
        }

        &-link {
            text-decoration: none;
            color: #0e1d0c;

            &:hover {
                @include transition-ease;
                color: #8bc285;
            }
        }
    }
}

footer {
    text-align: center;
}