//Lg screen must go first due to desktop first design

@include media-lg {
    
    #main {

        article {
            max-width: 75vw;
        }

        .hero {

            h1 {
                font-size: 2rem;
            }

            img {
                width: 5rem;
            }
        }

        .occupation {
            display: block;
        }

        .background {
            width: 100%;
        }

        .contacts {
            text-align: inherit;
        }
    }
}

@include media-md {

    #main {

        article {
            max-width: 100vw;
        }

        .hero {

            h1 {
                font-size: 2rem;
            }

            img {
                width: 5rem;
            }
        }

        .occupation {
            display: block;
        }

        .background {
            width: 100%;
        }

        .contacts {
            text-align: inherit;
        }

        .about {
            display: block;
        }
    }
}